@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>hello</p>
<<<<<<< HEAD
//test
=======
>>>>>>> 5bac0a61304d05cc178f2c9079967a4657a3f629
